#backgroundimg{
    background-image: url("https://st3.depositphotos.com/13349494/35888/i/950/depositphotos_358889886-stock-photo-top-view-fresh-sandwich-salami.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}