@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " ";
}
<h1>@ViewData["Title"]</h1>

<p>Customers will choose items and place them into their shopping cart on this page</p>
